version: "3.8"

services:
  churn-api:
   # build:
   #   context: ../
   #   dockerfile: api/Dockerfile
    image: churn-api      # <-- ADD THIS (Uses your manual build)
    container_name: churn-api
   # ports:
   #   - "8000:8000"
    privileged: true
    network_mode: "host"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    network_mode: "host"
  #  ports:
  #    - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - churn-api

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    network_mode: "host"
  #  ports:
  #    - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
