version: "3.8"

services:
  # -------------------------------------------------------------
  # 'churn-api' runs now on Render.
  # We use this file ONLY to run the monitoring tools locally
  # -------------------------------------------------------------

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"  # Access at http://localhost:9090
    volumes:
      # Mount your local config file into the container
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"  # Access at http://localhost:3000
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus