version: '3.8'

services:
  # -----------------------------------------------------------------
  # PROMETHEUS
  # -----------------------------------------------------------------
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    network_mode: "host"
    user: root
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=7d'

  # -----------------------------------------------------------------
  # GRAFANA
  # -----------------------------------------------------------------
  grafana:
    image: grafana/grafana
    container_name: grafana
    network_mode: "host"
    user: root
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana

# -----------------------------------------------------------------
# PERSISTENT VOLUMES (The "Hard Drives")
# -----------------------------------------------------------------
volumes:
  grafana_data:
  prometheus_data: